<% content_for :userHead do%>
	<%= javascript_include_tag 'my_javascript.js'%>
	<%= stylesheet_link_tag 'my_css.css'%>
<% end %>


<h1>Listing users</h1>

<table>
	<tr>
		<th>Login</th>
		<th>email</th>
	</tr>
	
	<% @users.each do |user|%>
		<tr>
			<td><%= user.login%></td>
			<td><%= user.email%></td>
			<td> <%= link_to 'Show posts', user_posts_path(user.id)%></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Add user', new_user_path(@user)%>


<p>
	<%= button_to_function "Check script", "showAlert()", class: "test"%>
</p>

<%= simple_format("Simple text using helpers", class: 'text_helper') %>